body{
    padding: 0;
    margin:0;
    background: linear-gradient(to right, #00aaff8d,#00ff6a75), url(./img/fondo.jpg);
    justify-content: center;
    align-items: center;
    width: 100vw;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.calculadora-grilla{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    margin-top: 10px;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(4, 100px);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    width: auto;
    border-style: dashed;
    background-color: #9217f7;
    padding: 10px;
} 
.calculadora-grilla> button{
    cursor: pointer;
    font-size:2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255,.75);

}
.calculadora-grilla>button.data-opera, .calculadora-grilla>button.data-igual{
    background-color: #00aaff8d;
}

.calculadora-grilla>button.data-delete{
    background-color:#ff00006d ;
    border-radius: 0 0 0 20px;
    -webkit-border-radius: 0 0 0 20px;
    -moz-border-radius: 0 0 0 20px;
    -ms-border-radius: 0 0 0 20px;
    -o-border-radius: 0 0 0 20px;
}
.output{
    grid-column: 1/ -1;
    background-color: #9217f7;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction:column;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 30px 30px 0 0;
}
.output .display{
    color:black;
    font-size: 1.85 rem;
    text-align: right;
    padding: 5px;
    
}
.calculadora-grilla > button:hover{
background-color: rgba(255, 255,255, .9);
}
.display{
    width: 80%;
    height: 60%;
    display: grid;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    font-size: 30px;
   
}
.por{
    border-radius: 0 0 20px 0;
    -webkit-border-radius: 0 0 20px 0;
    -moz-border-radius: 0 0 20px 0;
    -ms-border-radius: 0 0 20px 0;
    -o-border-radius: 0 0 20px 0;
}
.mas{
    border-radius: 0 20px 0 0;
    -webkit-border-radius: 0 20px 0 0;
    -moz-border-radius: 0 20px 0 0;
    -ms-border-radius: 0 20px 0 0;
    -o-border-radius: 0 20px 0 0;
}
.uno{
    border-radius: 20px 0 0 0;
    -webkit-border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    -ms-border-radius: 20px 0 0 0;
    -o-border-radius: 20px 0 0 0;
}

@media screen and (max-width: 500px){
    .calculadora-grilla{
        grid-template-columns: repeat(4, 60px);
        grid-template-rows: minmax(79px,auto) repeat(4, 80px);
        width: auto;
    }
    main{
        margin: 0;
    }
}